body{
    background: #fff;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}
main{
    height: 100vh;
    overflow-y: scroll;
}

.sidebar{
    background:#021F29;
    color:white;
    text-align: center;
}

#title-row{
    background: #e0cccc;
    box-shadow: 1px 1px 11px 0px grey;
}

#aps-button{
    text-transform: uppercase;
    border-bottom:1px solid grey;
    font-size:100%;
}
.nav-item img{
    width: 26px;
    height: auto;
}
footer, footer.page-footer{

    position: relative !important;
    padding: 0;
    width:100%;
}
