input{
    width:100%;

    border: 1px solid #e8e1e1;

    padding: 2%;
}

.main-row{
    background: #20354a;
    padding: 2%;
    color: #fff;
    box-shadow: 1px 1px 11px 0px grey;
}
#articles-list {
    font-size: 1.2vw;
}

#articles-list .col-md-3:hover{
    background: #f8f9fa;
}
#articles-list img{
    max-width: 100%;
    height: auto;
}

#articles-list a{
    color:black;
    text-decoration: none;
}

h1.h1_item {
    background: #20354a;
    text-align: center;
    text-transform: none;
    color: #e2e1e1;
}


h2{ font-size: 2.8em; line-height: 1.1; }
h3{ font-size: 2em; }
h4{ font-size: 1.2em; }
h5{ font-size: 1.1em; }
h6{ font-size: .9em; letter-spacing: 1px; }

.post-style-2 .blog-info{ width: 50%; float: left; height: 100%; position: relative; padding: 30px; padding-bottom: 45px; }
